<div class="view view--{{ size }}">
<div class="layout layout--top layout--row layout--stretch">
  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th><span class="title">Linie</span></th>
          <th><span class="title">Ziel</span></th>
          <th><span class="title">Abfahrt</span</th>
        </tr>
      </thead>
      <tbody>
        {% for departure in departures %}
        {% if depature.is_cancelled == 1%}
          {% continue %}
        {% endif %}
        <tr>
          <td><span class="label">{{ departure.line }}</span></td>
          <td><span class="label">{{ departure.destination }} </span></td>
          <td><span class="label">{% if departure.rt_datetime == departure.datetime %} ◯ {% endif %}{{ departure.datetime  | date: "%H:%M" }}</span</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://img.icons8.com/train">
  <span class="title">{{ station }}</span>
  <span class="instance">Aktualisiert: {{ "now" | date: '%s' | plus: trmnl.user.utc_offset | date: "%Y-%m-%d %H:%M" }}</span>
</div>
</div>